<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
             <ul class="nav navbar-nav">
                <li>
                    <a>
                        <i class="fa fa-fighter-jet fa-4x"></i>
                    </a>
                </li>
                <li><a>
                        <h2 >Eyes on the Sky</h2>
                    </a>
                    </li>
            </ul>
                
            </div>
    </div>
</nav>


